Package                      Version
----------------------- ------------------
absl-py                      1.4.0
aiobotocore                  2.4.2
aiohttp                      3.8.1
aioitertools                 0.11.0
aiosignal                    1.3.1
albumentations               1.3.0
antlr4-python3-runtime       4.8
anyio                        3.6.2
appdirs                      1.4.4
arrow                        1.2.3
astunparse                   1.6.3
async-timeout                4.0.2
attrs                        22.2.0
autopep8                     2.0.1
backports.zoneinfo           0.2.1
beautifulsoup4               4.11.2
black                        21.4b2
blessed                      1.20.0
botocore                     1.27.59
cachetools                   5.3.0
certifi                      2022.12.7
charset-normalizer           2.1.1
click                        8.1.3
cloudpickle                  2.2.1
coloredlogs                  15.0.1
contourpy                    1.0.7
croniter                     1.3.8
cycler                       0.11.0
Cython                       0.29.33
dateutils                    0.6.12
deepdiff                     6.2.3
detectron2                   0.6
dnspython                    2.3.0
docker-pycreds               0.4.0
docopt                       0.6.2
email-validator              1.3.1
fastapi                      0.88.0
fire                         0.5.0
flatbuffers                  23.1.21
fonttools                    4.38.0
frozenlist                   1.3.3
fsspec                       2023.1.0
future                       0.18.3
fvcore                       0.1.5.post20221221
gast                         0.4.0
gitdb                        4.0.10
GitPython                    3.1.30
google-auth                  2.16.0
google-auth-oauthlib         0.4.6
google-pasta                 0.2.0
grpcio                       1.51.1
h11                          0.11.0
h5py                         3.6.0
httpcore                     0.13.7
httptools                    0.5.0
httpx                        1.0.0b0
humanfriendly                10.0
hydra-core                   1.0.5
idna                         3.4
imageio                      2.25.0
importlib-metadata           6.0.0
importlib-resources          5.10.2
inquirer                     3.1.2
iopath                       0.1.10
itsdangerous                 2.1.2
Jinja2                       3.1.2
jmespath                     1.0.1
joblib                       1.2.0
Js2Py                        0.74
jsonschema                   4.17.3
keras                        2.10.0
Keras-Preprocessing          1.1.2
kiwisolver                   1.4.4
libclang                     15.0.6.1
lightning                    1.8.1
lightning-api-access         0.0.5
lightning-cloud              0.5.25
lightning-lite               1.8.0
lightning-utilities          0.3.0
loguru                       0.6.0
Markdown                     3.4.1
markdown-it-py               2.1.0
MarkupSafe                   2.1.2
matplotlib                   3.6.3
mdurl                        0.1.2
MinkowskiEngine              0.5.4
mpmath                       1.2.1
multidict                    6.0.4
mypy-extensions              1.0.0
natsort                      8.2.0
netron                       6.5.1
networkx                     3.0
ninja                        1.10.2.3
numpy                        1.21.1
oauthlib                     3.2.2
omegaconf                    2.0.6
onnx                         1.13.0
onnxruntime                  1.13.1
opencv-python-headless       4.7.0.68
opt-einsum                   3.3.0
ordered-set                  4.1.0
orjson                       3.8.6
packaging                    23.0
pandas                       1.5.3
pathspec                     0.11.0
pathtools                    0.1.2
pi                           0.1.2
Pillow                       9.4.0
pip                          23.0
pkgutil_resolve_name         1.3.10
platformdirs                 2.6.2
plyfile                      0.7.4
pointnet2                    0.0.0
portalocker                  2.7.0
promise                      2.3
protobuf                     3.19.6
psutil                       5.9.4
pyasn1                       0.4.8
pyasn1-modules               0.2.8
pycocotools                  2.0.6
pycodestyle                  2.10.0
pycuda                       2022.2.2
pydantic                     1.10.4
pyDeprecate                  0.3.2
Pygments                     2.14.0
pyjsparser                   2.7.1
PyJWT                        2.6.0
pyparsing                    3.0.9
PyPrind                      2.11.3
pyproject-toml               0.0.10
pyrsistent                   0.19.3
pySmartDL                    1.3.4
python-dateutil              2.8.2
python-dotenv                0.21.1
python-editor                1.0.4
python-multipart             0.0.5
pytools                      2022.1.14
pytorch-lightning            1.7.2
pytz                         2022.7.1
pytz-deprecation-shim        0.1.0.post0
pyviz3d                      0.2.32
PyWavelets                   1.4.1
PyYAML                       5.4.1
qudida                       0.0.4
readchar                     4.1.0.dev1
regex                        2022.10.31
requests                     2.28.2
requests-oauthlib            1.3.1
rfc3986                      1.5.0
rich                         13.3.1
rsa                          4.9
s3fs                         2023.1.0
scikit-image                 0.19.3
scikit-learn                 1.2.1
scipy                        1.10.0
sentry-sdk                   1.15.0
setproctitle                 1.3.2
setuptools                   65.5.0
shortuuid                    1.0.11
six                          1.16.0
smmap                        5.0.0
sniffio                      1.3.0
soupsieve                    2.3.2.post1
starlette                    0.22.0
starsessions                 1.3.0
sympy                        1.11.1
tabulate                     0.9.0
tensorboard                  2.10.1
tensorboard-data-server      0.6.1
tensorboard-plugin-wit       1.8.1
tensorflow                   2.10.0+nv22.11
tensorflow-cpu-aws           2.11.0
tensorflow-estimator         2.10.0
tensorflow-io                0.30.0
tensorflow-io-gcs-filesystem 0.30.0
termcolor                    2.2.0
threadpoolctl                3.1.0
tifffile                     2023.2.3
toml                         0.10.2
tomli                        2.0.1
torch                        1.11.0
torch-scatter                2.0.9
torchmetrics                 0.11.1
torchvision                  0.14.1
tqdm                         4.64.1
traitlets                    5.9.0
trimesh                      3.18.3
typing_extensions            4.4.0
tzdata                       2022.7
tzlocal                      4.2
ujson                        5.7.0
urllib3                      1.26.14
uvicorn                      0.20.0
uvloop                       0.17.0
volumentations               0.1.8
wandb                        0.13.2
watchfiles                   0.18.1
wcwidth                      0.2.6
websocket-client             1.5.1
websockets                   10.4
Werkzeug                     2.2.2
wheel                        0.38.4
wrapt                        1.15.0rc1
yacs                         0.1.8
yarl                         1.8.2
zipp                         3.11.0
